[submodule "modules/lib-msghandling"]
	path = modules/lib-msghandling
	url = https://github.com/papparazzo/moba-lib-msghandling.git
[submodule "modules/lib-tracklayout"]
	path = modules/lib-tracklayout
	url = git@github.com:papparazzo/moba-lib-tracklayout.git
